.signUp {
  height: 300px;
  background-color: $color-dark-navy;
  background-image: url("../../images/signUp-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__heading {
    @include heading-h2;
    max-width: 415px;
    color: $color-white;
  }
  &-wrapper {
    display: flex;
    gap: 1.8rem;
    &__link {
      background-color: $color-light-grey;
      padding: 0.8rem 1.5rem 0.9rem 1.6rem;
      display: flex;
      align-items: center;
      gap: 1.2rem;
      border-radius: 4px;
      color: $color-dark-navy;
    }
    &__info {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.044rem;
    }
    &__decr {
      font-family: $font-family1;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.4rem;
      letter-spacing: -0.089rem;
    }
  }
  @include resfonsive(tablet) {
    // height: 768px;
    background-image: url("../../images/signUp-bg-tablet.png");
    background-position: center bottom;
    background-size: 100% auto;
    &__container {
      flex-direction: column;
      justify-content: center;
      gap: 4rem;
    }
    &__heading {
      text-align: center;
    }
  }
  @include resfonsive(mobile) {
    height: 320px;
    background-image: url("../../images/signUp-bg-mobile.png");
    background-size: 100% auto;
    &__container {
      padding: 0 3.2rem;
    }
    &__heading {
      font-size: 3.2rem;
      line-height: 3.2rem;
      letter-spacing: -1.42857px;
    }
    &-wrapper {
      gap: 1.286rem;
      &__link {
        padding: 0.83rem 1.2rem 0.643em 1.143rem;
        gap: 0.83rem;
      }
      &__decr {
        margin-top: 0.684rem;
      }
    }
  }
}
.site-footer {
  padding: 2.2rem 0 2.1rem;
  background-color: #333a44;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.5rem 0 5rem;
  }
  &__wrapper {
    display: flex;
    gap: 5.818rem;
    align-items: center;
  }
  &-nav__list {
    display: flex;
    gap: 3.2rem;
  }
  &-nav__link {
    @include font2-style;
    color: $color-dim-grey;
    &:active {
      color: $color-yellow;
    }
  }
  &-wrapper {
    display: flex;
    gap: 2.4rem;
  }
  &-nav__link {
    color: $color-dim-grey;
  }
  @include resfonsive(mobile) {
    padding: 6.4rem 0 8.8rem;
    &__container {
      padding: 0 3.2rem;
      flex-direction: column;
      gap: 8.5rem;
    }
    &__wrapper {
      flex-direction: column;
      gap: 4.144rem;
    }
    &-nav__list {
      flex-direction: column;
      align-items: center;
      gap: 1.6rem;
    }
  }
}
