.btn {
  background-color: pink;
  padding: 1.4rem 4.712rem 1.4rem 4.821rem;
  font-family: $font-family1;
  color: $color-white;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-style: normal;
  border: 12px solid $color-yellow;
  display: inline-block;
  &:hover {
    color: $color-yellow;
    background-color: transparent;
    border: 2px solid $color-yellow;
  }
}
