// colors
$color-yellow: #fcb72b;
$color-dark-navy: #495567;
$color-dim-grey: #939caa;
$color-light-grey: #e5ecf4;
$color-snow: #f2f5f9;
$color-light-yellow: #fff4df;
$color-white: #fff;
// font family
$font-family1: "Space Mono", sans-serif;
$font-family2: "Lexend Deca", sans-serif;
